<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-paperang" version="0.0.1">
    <name>Paperang</name>
    <description>Cordova Paperang Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,paperang</keywords>
    <js-module src="www/paperang.js" name="paperang">
        <clobbers target="paperang" />
    </js-module>

    <preference name="APP_ID" />
    <preference name="APP_KEY" />
    <preference name="APP_SECRET" />

    <platform name="ios">
        <hook type="after_platform_add" src="hooks/embedframework/addEmbedded.js" />
            
        <config-file target="config.xml" parent="/*">
            <feature name="Paperang">
                <param name="ios-package" value="Paperang"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="PAPERANG_AppId">
            <string>$APP_ID</string>
        </config-file>
        <config-file target="*-Info.plist" parent="PAPERANG_AppKey">
            <string>$APP_KEY</string>
        </config-file>
        <config-file target="*-Info.plist" parent="PAPERANG_AppSecret">
            <string>$APP_SECRET</string>
        </config-file>
            
        <header-file src="src/ios/Paperang.h" />
        <source-file src="src/ios/Paperang.m" />
            
        <framework src="src/ios/MMApi.framework" custom="true" />
    </platform>
    
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Paperang">
                <param name="android-package" value="com.mfec.paperang.Paperang" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.INTERNET" />
            <meta-data android:name="PAPERANG_AppId" android:value="$APP_ID" />
            <meta-data android:name="PAPERANG_AppKey" android:value="$APP_KEY" />
            <meta-data android:name="PAPERANG_AppSecret" android:value="$APP_SECRET" />
        </config-file>

        <framework src="com.google.code.gson:gson:2.8.5" />
        <framework src="com.squareup.okhttp3:okhttp:3.11.0" />

        <resource-file src="src/android/jniLibs/arm64-v8a/libalf_h_sdkcore.so" target="jniLibs/arm64-v8a/libalf_h_sdkcore.so" />
        <resource-file src="src/android/jniLibs/arm64-v8a/libimg_proc_sdkcore.so" target="jniLibs/arm64-v8a/libimg_proc_sdkcore.so" />
        <resource-file src="src/android/jniLibs/armeabi-v7a/libalf_h_sdkcore.so" target="jniLibs/armeabi-v7a/libalf_h_sdkcore.so" />
        <resource-file src="src/android/jniLibs/armeabi-v7a/libimg_proc_sdkcore.so" target="jniLibs/armeabi-v7a/libimg_proc_sdkcore.so" />
        <resource-file src="src/android/jniLibs/armeabi/libalf_h_sdkcore.so" target="jniLibs/armeabi/libalf_h_sdkcore.so" />
        <resource-file src="src/android/jniLibs/armeabi/libimg_proc_sdkcore.so" target="jniLibs/armeabi/libimg_proc_sdkcore.so" />
        <resource-file src="src/android/jniLibs/x86/libalf_h_sdkcore.so" target="jniLibs/x86/libalf_h_sdkcore.so" />
        <resource-file src="src/android/jniLibs/x86/libimg_proc_sdkcore.so" target="jniLibs/x86/libimg_proc_sdkcore.so" />
        
        <lib-file src="src/android/paperang_printcore_1_0_8.jar" />

        <source-file src="src/android/Paperang.java" target-dir="src/com/mfec/paperang" />
    </platform>
</plugin>
